<!DOCTYPE html>
<html ng-app="TodoService">
<head>
    <title>HitchLess</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="public/js/services.js"></script>
    <script src="public/js/controllers.js"></script>
</head>

<body ng-controller="TodoController">
<!--Todo List Page-->
<div id="todo-list" data-role="page">
    <div data-role="header">
        <h1>Angular Todo</h1>
        <a href="#todo-detail" ng-click="newTodo()" data-icon="add" class="ui-btn-right">New</a>
        <fb:login-button id="fb-button" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
        <div id="status"></div>
<div id="status">
</div>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-filter="true">
            <li ng-repeat="todo in todos">
                <a href="#todo-detail" data-transition="slide" ng-click="selectTodo(todo._id)" value="{{todo._id}}">{{todo.description}}</a>
            </li>
        </ul>
    </div>
    <div>
        <p>Task ID: {{todo._id}}</p>
    </div>
    <div data-position="fixed" data-role="footer" data-tap-toggle="false">
      <div data-role="navbar" style="padding:0; margin:0 0 -1px;">
        <ul id="footerBtn">
          <li>
            <a id="g1" data-theme="b" href="tripinfo.html" gid="0">Trip</a>
          </li>
          <li>
            <a id="g2" data-theme="b" class="ui-btn-active ui-state-persist" gid="570331424">Check List</a>
          </li>
          <li>
            <a id="g3" data-theme="b" href="flighstatus.html" gid="10780180">Status</a>
          </li>
        </ul>
      </div>
    </div>
</div>
<!--Todo Detail Page-->
<div id="todo-detail" data-role="page">
    <div data-role="header">
        <a href="#" data-icon="back" data-rel="back">Back</a>

        <h1>{{todo.description}}</h1>
        <a href="#todo-list" ng-click="saveTodo()" data-icon="check" class="ui-btn-right">Save</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain">
                <label for="description">Description</label>
                <input id="description" type="text" ng-model="todo.description"/>
            </li>
            <li data-role="fieldcontain">
                <label for="body">Body</label>
                <textarea id="body" cols="40" rows="8" ng-model="todo.body"></textarea>
            </li>
            <li data-role="fieldcontain">
                <label for="project">Project</label>
                <input id="project" type="text" ng-model="todo.project"/>
            </li>
            <li data-role="fieldcontain">
                <label for="context">Context</label>
                <input id="context" type="text" ng-model="todo.context"/>
            </li>
            <li data-role="fieldcontain">
                <label for="duedate">Due Date</label>
                <input id="duedate" type="date" ng-model="todo.duedate"/>
            </li>
        </ul>
        <button data-inline="true" onclick="$.mobile.changePage('#todo-list')" ng-click="completeTodo(todo._id)">
            Complete Task
        </button>
    </div>
    <div>
        <p>Task ID: {{todo._id}}</p>
    </div>
    <div data-position="fixed" data-role="footer" data-tap-toggle="false">
      <div data-role="navbar" style="padding:0; margin:0 0 -1px;">
        <ul id="footerBtn">
          <li>
            <a id="g1" data-theme="b" href="tripinfo.html">Trip</a>
          </li>
          <li>
            <a id="g2" data-theme="b" class="ui-btn-active ui-state-persist">Check List</a>
          </li>
          <li>
            <a id="g3" data-theme="b" href="flightstatus.html">Status</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      $('#fb-button').hide();
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1622479461332747',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

</body>
</html>
